@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactFlagsSelect-module_alignOptionsToRight__3Qvq2 {
  top: 40px;
  border-color: #afaeae !important;
}

.MuiTabs-indicator{
  background: black !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: black !important;
}